<form name="<{$pageform.name}>" action="<{$pageform.action}>" method="<{$pageform.method}>">
<{foreach item=item key=key from=$pageform.elements }>
 <{if $item.hidden }><{ $item.body }><{/if}>
<{/foreach}>
<table cellpadding="0" cellspacing="1">
<tr>
<td class="head" >
<nobr>
<{if $page.info.itemid }>
<a href="<{$xoops_url}>/modules/<{$mod_dir}>/admin/item.php?op=<{$page.info.group_name}>&id=<{$page.info.itemid}>"><img src="<{$xoops_url}>/modules/<{$mod_dir}>/images/na_ico_open.gif">Item Details</a>&nbsp;&nbsp;
<{/if}>
</nobr>
</td>
<td class="even"><span style="font-size: 9px"><b><{ $smarty.const._NA_DEFAULTFORM_NOTICE }></b> <{ $smarty.const._NA_DEFAULTFORM_MSG }></span></td>
</tr>
</table>
<table cellpadding="4" cellspacing="1" class="outer" width="100%">
<{foreach item=item key=key from=$pageform.elements }>
 <{if ! $item.hidden }><{cycle values='odd,even' assign='color'}>
 <tr>
	<td class="<{$color}>"><b><{ $item.caption }></b></td>
	<td class="<{$color}>">
	<{ $item.body }>
	<{if $page.formextra.$key }>
	<table width="100%" cellpadding="2" cellspacing="0" border="0" bgcolor="#FFFFFF">
	<tr><td bgcolor="#ffffff"><img src="<{$xoops_url}>/modules/<{$mod_dir}>/images/na_ico_info.png"><span style="font-size:9px"><{ $page.formextra.$key }></span></td></tr>
	</table> 
	<{/if}>
	</td>
 </tr>
 <{/if}>
<{/foreach}>
</table>
</form>

