<p>
<table width="100%" class="outer" cellpadding="5" cellspacing="1">
 <tr>
	<td align="center">
    <img src="<{$xoops_url}>/modules/<{$mod_dir}>/images/na_ico_edit.gif"> = Edit View
    </td>
	<td align="center">
    <img src="<{$xoops_url}>/modules/<{$mod_dir}>/images/na_ico_add.gif"> = Add New Item 
    </td>
	<td align="center">
    <img src="<{$xoops_url}>/modules/<{$mod_dir}>/images/na_ico_search.gif"> = Search Items
    </td>
 </tr>
 <tr>
	<td align="center">
    <img src="<{$xoops_url}>/modules/<{$mod_dir}>/images/na_ico_list.gif"> = List View
    </td>
	<td align="center">
    <img src="<{$xoops_url}>/modules/<{$mod_dir}>/images/na_ico_open.gif"> = Open Detail View 
    </td>
	<td align="center">
    <img src="<{$xoops_url}>/modules/<{$mod_dir}>/images/na_ico_trash.gif"> = Trash Item *caution 
    </td>
 </tr>
</table>